h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.square{
    width: 150px;
    height: 150px;
    background-color: cyan;
    margin: 8px;
}
